<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Welcome Email</title>

    <style>
      p{ font-size: 20px; } .item1{ color: red; } .item2{ color: blue; } .item3{
      color: saddlebrown; } .item4{ color: green; } .item5{ color: black; }
    </style>
  </head>

  <body>
    <div>
      <p class="item1">Position: {{position}}! </p>
      <p class="item3">Name: {{name}}! </p>
      <p class="item2">Email: {{email}}! </p>
      <p class="item3">Mobile: {{mobile}}! </p>
      <p class="item4">Qualification: {{qualification}}! </p>
      <p class="item5">Location: {{location}}! </p>
      <p class="item4">Experience: {{experience}}! </p>
      <p class="item5">UserCv: {{userCv}}! </p>
    </div>

  </body>

</html>